<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pokemon!</title>
  <link rel="stylesheet" type="text/css" href="css/pokestyle.css">
</head>
<body>
  <h1><a href="/pokemons"> POKEMON! </a> </h1>
  <%= yield %>
</body>
</html>
